<div class="receipt-form">
  <mat-card class="card">
    <mat-card-title class="card-title">Receipt Details</mat-card-title>
    <form [formGroup]="receiptForm" (ngSubmit)="generateReceipt()" class="form">
      <!-- Cashier Name -->
      <mat-form-field>
        <mat-label>Cashier Name</mat-label>
        <input matInput formControlName="cashier" />
      </mat-form-field>

      <!-- Items List -->
      <div formArrayName="items">
        @for (item of items.controls; track item;let i = $index) {
        <div [formGroupName]="i" class="item">
          <mat-form-field>
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Price</mat-label>
            <input
              matInput
              type="number"
              formControlName="price"
              (change)="updateSubtotal()"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Discount (%)</mat-label>
            <input
              matInput
              type="number"
              formControlName="discount"
              (change)="updateSubtotal()"
            />
          </mat-form-field>
          <button
            mat-icon-button
            color="warn"
            (click)="removeItem(i)"
            [disabled]="items.controls.length === 1"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        }
      </div>

      <button
        mat-button
        color="primary"
        class="add-item-btn"
        (click)="addItem()"
      >
        + Add Item
      </button>

      <!-- Other Fields -->
      <mat-form-field class="sub-total">
        <mat-label>Subtotal</mat-label>
        <input matInput type="number" formControlName="subtotal" readonly />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Loyalty Discount</mat-label>
        <input matInput type="number" formControlName="loyaltyDiscount" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>GST (%)</mat-label>
        <input matInput type="number" formControlName="gstRate" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cash Paid</mat-label>
        <input matInput type="number" formControlName="cash" />
      </mat-form-field>

      <!-- Generate Receipt Button -->
      <button
        mat-raised-button
        color="primary"
        [disabled]="receiptForm.invalid"
        (click)="generateReceipt()"
        class="submit-btn"
      >
        Generate Receipt
      </button>
    </form>
  </mat-card>
</div>
