.receipt-form {
  max-width: 700px;
  margin: 2rem auto;
  .card {
    padding: 1rem;
    &-title {
      margin-bottom: 0.5rem;
      text-align: center;
    }
    .form {
      display: flex;
      flex-direction: column;
      .add-item-btn{
        width: 200px;
        margin: 0.25rem auto;
      }
      .sub-total{
        opacity: 0.5;
      }
      .item {
        display: flex;
        gap: 16px;
      }
      .submit-btn {
        max-width: 200px;
        margin: auto;
      }
    }
  }
}
