.receipt-form {
  max-width: 700px;
  margin: auto;
  .card {
    background: rgba(139, 92, 246, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 2rem;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    &-title {
      margin-bottom: 1.5rem;
      text-align: center;
      color: #fff;
    }
    .form {
      display: flex;
      flex-direction: column;
      --mdc-filled-text-field-container-color: rgba(139, 92, 246, 0.4);
      --mdc-filled-text-field-label-text-color: #fff;
      --mdc-filled-text-field-input-text-color: #fff;
      --mdc-filled-text-field-label-text-weight: 400;
      --mdc-filled-text-field-width: 0px;
      --mdc-filled-text-field-focus-width: 0px;
      --mdc-filled-text-field-container-shape: 14px;
      --mat-form-field-focus-select-arrow-color: transparent;
      --mat-form-field-hover-state-layer-opacity: 0;
      --mdc-filled-text-field-hover-label-text-color: #fff;
      --mdc-filled-text-field-focus-active-indicator-color: transparent;
      --mdc-filled-text-field-active-indicator-color: transparent;
    
      .add-item-btn {
        width: 200px;
        margin: 0.25rem auto;
        color: #fff;
        background: rgba(139, 92, 246, 0.5);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        margin-bottom: 1.2rem !important;
      }
      .sub-total {
        opacity: 0.5;
      }
      .item {
        display: flex;
        gap: 16px;
      }
      .submit-btn {
        max-width: 200px;
        margin: auto;
        color: #fff;
        background: rgba(139, 92, 246, 0.5);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
