/* You can add global styles to this file, and also import other style files */
:root{
    --cyan: #e0fbfc;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
// background-color: var(--cyan);
    background: linear-gradient(135deg, #6B46C1 0%, #9333EA 50%, #C026D3 100%);
}

  .mdc-text-field--filled {
        border-bottom-right-radius: 14px !important;
        border-bottom-left-radius: 14px !important;
      }